<!DOCTYPE html>
{% include 'base.html' %}

  <div class="container">
  <p>One day, over lunch in a cafe, a catch up turned into a conversation about starting a business together.  After some very exciting chats with notepads and numerous cups of tea and bowls of chips, Buttons & Lace Photography was born! We are Megan and Rachel, two good friends with a passion for photography, who enjoy sparking off each other creatively as we work, and seeing things from different perspectives.  Our style is natural, fun and creative, with a vintage twist – we love the details, and capturing special moments!</p>

  <p>We enjoy taking natural, real photos – we wont be ‘in your face’, or shout at your guests; we are easygoing, relaxed and friendly, and want you to feel comfortable and happy being in front of our cameras!</p>

  <div class="row text-center">
    <img src="http://buttonsandlacephotography.files.wordpress.com/2012/09/228944_10150248144597599_4813251_n2.jpg?w=454&h=302"/>
  </div>

  <h5 style="text-align: center">Rachel and Megan</h5>

  <p>We would love to hear from you, so head on over to the Get In Touch page to drop us an email or give us a call. We welcome any questions you have and look forward to photographing you and your loved ones in the future!</p>

  <p>To see some of our previous photography work take a look at <a href="http://meganpenelopephotography.wordpress.com/">megan penelope photography</a>.</p>
  </div>

  </body>
</html>
