<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Rapid web server development</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="/static/css/reveal.min.css">
        <link rel="stylesheet" href="/static/css/theme/default.css" id="theme">
    </head>

    <body>

        <div class="reveal">
            <div class="slides">
                {% for photo in photos %}
                    <section>
                        <img src="{{ photo.serving_url }}"/>
                    </section>
                {% endfor %}

            </div>
        </div>

        <script src="/static/lib/js/head.min.js"></script>
        <script src="/static/js/reveal.min.js"></script>

        <script>

            Reveal.initialize({
                transition: 'linear'
            });

        </script>

    </body>
</html>
