<!DOCTYPE html>
{% include 'base.html' %}

  {% if is_admin %}
    <div class="container">
      <a href="/add-album?key={{ album.ukey }}">
        <p class="text-right">Edit this album</p>
      </a>
    </div>
  {% endif %}

  <div class ="container">
      <h1>{{ album.name }}</h1>
      <p>{{ album.description }}</p>
  </div>

  {% for photo in photos %}
    <div class="container">
      <div class="row">
          <div class="span12"><img src="{{ photo.serving_url }}"/></div>
      </div>
      <br>

    </div>
  {% endfor %}

  <div class="container">
      <a href="album-slideshow?key={{ album.ukey }}">
          <h3>View as awesome slideshow</h3>
      </a>
  </div>

  </body>
</html>