<!DOCTYPE html>
{% include 'base.html' %}

  <div class="container" style="border: 1px solid black">
      <br>
      <h3 class="text-center">creative, bright and natural photography for weddings, events, portraits and little people
      </h3>
      <br>
  </div>
  {% for album in albums %}
    <br>
    <div class="container" style="border: 1px solid black">
      <img src="{{ album.thumbnail_serving_url }}"/>
      <a href="/album?key={{ album.ukey }}"><h2>{{ album.name }}</h2></a>
      <p>{{ album.description }}</p>
    </div>
  {% endfor %}

  </body>
</html>
