<!DOCTYPE html>
{% include 'base.html' %}
    <div class="container">
  	<div class="entry-content">
		<p style="text-align:justify;"><span style="color:#000000;">Thank you for your interest in Buttons and Lace Photography. We would absolutely love the opportunity to creatively capture all the moments that are important to you.  We would love to hear from you and to chat through your requirements so head on over to the Get in Touch page to drop us an email or give us a call. We welcome any questions you have and look forward to photographing you and your loved ones in the future!</span></p>
<p style="text-align:justify;"><span style="color:#888888;">We offer wedding photography, family photography, little people photography and events coverage. See below and get in touch for more information.</span></p>
<p><strong>Wedding Photography packages:</strong></p>
<p>The <span style="color:#449cbb;">Creative</span><span style="color:#86b3e0;"> <span style="color:#449cbb;">Digital Wedding</span></span> package for £1,100. This includes:</p>
<p style="text-align:justify;">- Full day coverage, from Bridal Preparations until your first dance in the evening (around 8pm)<br />
- Megan and Rachel as your photographers for the day<br />
- A minimum of 300 fully edited images on disc with full printing rights.</p>
<p>The <span style="color:#449cbb;">Bespoke</span> <span style="color:#449cbb;">Printed Wedding </span>package for £1,450. This includes:</p>
<p>- Full day coverage, from Bridal Preparations until the first dance in the evening<br />
- Both Megan and Rachel as your photographers for the day<br />
- A minimum of 300 fully edited images on disc with full printing rights.<br />
- A stunning 10 x 10 fine art wedding album from <a title="Folio Albums" href="http://www.folioalbums.com/" target="_blank">Folio Albums</a> designed by us with your choice of photographs.</p>
<p><strong>Portrait Photography packages:</strong></p>
<p><span style="color:#449cbb;">Pre-wedding</span> and <span style="color:#449cbb;">Engagement Photography </span>for £130.<br />
<span style="color:#808080;">Announce your engagement to friends and family with creative flare, or have fun getting used to being in front of the camera before your Big Day!</span><br />
Two hours photography at a location of your choice with either Megan or Rachel. You will receive between 80-100 high-resolution images with full printing rights.</p>
<p><span style="color:#449cbb;">Newborn Photography <span style="color:#000000;">and<strong> </strong></span>Little People Photography <span style="color:#000000;">for</span> </span>£160.<br />
<span style="color:#808080;">Precious ages and moments with your little ones.</span><br />
High resolution images with full printing rights.</p>
<p>For further quotes please <a title="Get In Touch" href="http://buttonsandlacephotography.wordpress.com/get-in-touch/">get in touch</a>!</p>
</div>
        </div>

  </body>
</html>
